body {
  font: 20px/1.5 'Roboto', sans-serif;
}

.cell {
  margin-bottom: 1rem;
}

.cell > .sourceCode {
  margin-bottom: 1rem;
}

.cell-output > pre {
  margin-bottom: 0;
}

.cell-output {
  margin-bottom:1rem;
}

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0rem;
  margin-top: 0;
  background: none;
  /*border-left: 2px solid lightsalmon;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cell-output > .sourceCode {
  border: none;
}

.cell-output > .sourceCode {
  background: none;
  margin-top: 0;
}

div.description {
  padding-left: 2px;
  padding-top: 5px;
  /* font-style: italic;
  font-size: 135%; */
  margin-bottom: 1rem;
  opacity: 70%;
}

.cell-output img {
  max-width: 100%;
}


main table.caption-top, main table.table {
  display: block;
  overflow-x: auto;
}

section > h3 {
  overflow:auto;
}

